.projectmain{
    width: 100%;
    height: 100rem;
    /* border: 2px solid green; */
    overflow: hidden;
    background: #0B0B0B;
    height: 200vh;
}
.div1{
    margin-left: 42%;
    margin-top: 2rem;
    display: flex;
    height: 4rem;
    width: 20%;
}
.p1{
    margin-top: .7rem;
    color: #FFF;
font-size: 3rem;
font-style: normal;
font-weight: 400;
line-height: 3.5rem; /* 116.667% */
letter-spacing: -0.06rem;
}
.projectSpan{
    color: #4061F7;
font-size: 3rem;
font-style: normal;
font-weight: 800;
line-height: 3.5rem; /* 116.667% */
letter-spacing: -0.06rem;
}
.projects{
    margin-top: 2rem;
    display: flex;
    margin-left: 5rem;
    width: 90%;
    height: 90%;
    /* border: 2px solid red; */
}
.left{
    align-items: center;
    width: 50%;
    height: 95%;
    /* border: 2px solid green; */
}
.hr2{

    margin-top:3rem;
    margin-right: 1.66rem;
    display: inline-block;
    border-radius: 2.5rem;
    background: #D9D9D9;
    width: 0.75rem;
    height: 93%;
    flex-shrink: 0;
    flex-shrink: 0;
    transform: rotate(-180deg);
    transition: background 0.3s ease;
}
.right{
    /* border: 2px solid orange; */
    width: 50%;
    height: 95%;
}
.proj1{
    /* margin-left: 3.3rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.75rem;
    align-self: stretch;
    margin-top:3rem;
    height:29%;
    width: 90%;
    border-radius: 1.25rem;
    overflow: hidden;
    /* border: 2px solid white; */
}
.proj1 img, .proj2 img {
    border-radius: 1.25rem;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease;
}

.proj2 img:hover {
    transform: perspective(1000px) rotateY(-10deg) rotateX(10deg); /* Left side rotates upward, Right side inward */
}

.proj1 img:hover {
    transform: perspective(1000px) rotateY(10deg) rotateX(-10deg); /* Right side rotates inward, Left side upward */
}
.proj2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.75rem;
    align-self: stretch;
    margin-top:3rem;
    margin-left: .75rem;
    height:29%;
    width: 90%;
    border-radius: 1.25rem;
    overflow: hidden;
    /* border: 2px solid white; */
}
h1{
    color: #FFF;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.5rem; /* 116.667% */
    letter-spacing: -0.06rem;
}
.projName{
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem; /* 125% */
    letter-spacing: -0.04rem;
}
.projDesc{
    color: #9B9B9B;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.02rem;
}
.readMore{
    margin-top: -1rem;
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    justify-content: center;
    align-items: center;
}